$primary: #7ebcf9;

@import 'node_modules/bulma/bulma.sass';

/*
@import 'node_modules/bulma-divider/divider.sass';
@import 'node_modules/bulma-switch/switch.sass';
@import 'node_modules/bulma-badge/badge.sass';
*/

.top {
  margin: auto 40px;
}

.main {
  margin: auto 20px;
}

.main .column {
  .box {
    min-height: 400px;
    max-height: 700px;
  }

  &:first-child, &:last-child {
    .box {
      min-height: 200px;
      max-height: 400px;
    }

    margin-top: 100px;
    font-size: 80%;
  }
}

.box.thing {
  overflow: hidden;

  &.addr { background-color: lighten(#C3E5C1, 0.9); }
  &.txn { background-color: lighten(#E5C4C1, 0.9); }
  &.op { background-color: lighten(#C1CBE5, 0.9); }
  &.eff { background-color: lighten(#E5E3C1, 0.9); }
  &.ledg { background-color: lighten(#E5D7C1, 0.9); }

  h1 {
    padding: 7px;
    border-radius: 4px;
  }

  thead th { text-align: center; }
  table > tr > th {
    text-align: right;
    padding-left: 0;
    &:after {
      content: ': ';
    }
  }
  th, td { padding: 5px; }
  .table th, .table td { padding: 2px 5px; }
  th + td {
    word-break: break-all;
  }
}
