$primary: #7ebcf9;
$success: #8EED8B;
$info: #b4f0f2;
$size-1: 2.7em !default;
$size-2: 2.2em !default;
$size-3: 1.8em !default;
$size-4: 1.3em !default;
$size-5: 1.12em !default;
$size-6: 0.9em !default;
$size-7: 0.7em !default;

@import 'node_modules/bulma/bulma.sass';

/*
@import 'node_modules/bulma-divider/divider.sass';
*/

html { background: cadetblue; }

* { font-family: 'Maven Pro', sans-serif; }

.top {
  margin: 12px 40px;

  input {
    height: 3.3em;
  }
}

.testnet-switch {
  position: absolute;
  top: 0;
  right: 0;
  padding: 18px;
  background: white;
  border-radius: 0 0 0 12px;
  opacity: 0.4;

  &:hover { opacity: 1; }

  width: 146px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;

  input { display: none; }
  label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 33px;
    padding: 0;
    line-height: 29px;
    border: 2px solid #E3E3E3;
    border-radius: 36px;
    transition: background-color 0.3s ease-in;
    text-align: center;
    font-weight: bold;
    background-color: $warning;
    color: #333;
  }
  label:before {
    content: "";
    display: block;
    width: 46px;
    height: 46px;
    background: #FFFFFF;
    position: absolute;
    top: calc(50% - 23px);
    right: 92px;
    border: 2px solid #E3E3E3; border-radius: 72px;
    transition: all 0.3s ease-in 0s; 
  }
  input:checked + label { background-color: $info; color: white; }
  input:checked + label,
  input:checked + label:before { border-color: $info; }
  input:checked + label:before { right: 0px; }
}

.main {
  margin: auto 20px;
}

.live {}

.main .column {
  .box {
    min-height: 400px;
  }

  &:first-child, &:last-child {
    .box {
      min-height: 200px;
      max-height: 400px;
      cursor: pointer;
    }

    .title { margin-bottom: 0.5em; }

    margin-top: 100px;
    font-size: 50%;
  }
  
  &:not(:nth-child(3)) .box {
    opacity: 0.9;

    &:hover { opacity: 1; }
  }
}

.box.empty {
  opacity: 0.3 !important;
  &:hover { opacity: 0.8 !important; }
}

.box.testnet {
  position: relative;

  &:after {
    content: 'testnet';
    font-size: 20px;
    display: block;
    position: absolute;
    right: -2px;
    top: -6px;
    background: $warning;
    border-radius: 4px;
    color: #333;
    padding: 3px 5px;
    opacity: 0.7;
  }
}

.box.thing {
  background: ivory;
  overflow: hidden;

  padding: 0;
  & > div { margin: 15px; }

  border: 10px solid white;
  &.addr { border-color: lighten(#C3E5C1, 0.9); }
  &.txn { border-color: lighten(#E5C4C1, 0.9); }
  &.op { border-color: lighten(#C1CBE5, 0.9); }
  &.eff { border-color: lighten(#E5E3C1, 0.9); }
  &.ledg { border-color: lighten(#E5D7C1, 0.9); }

  &.addr:hover { border-color: darken(#C3E5C1, 0.5); }
  &.txn:hover { border-color: darken(#E5C4C1, 0.5); }
  &.op:hover { border-color: darken(#C1CBE5, 0.5); }
  &.eff:hover { border-color: darken(#E5E3C1, 0.5); }
  &.ledg:hover { border-color: darken(#E5D7C1, 0.5); }

  h1 {
    padding: 5px 8px;
    border-radius: 4px;
    overflow: hidden;
    text-overflow: clip;
    cursor: pointer;
    opacity: 0.9;

    &:hover { opacity: 1; }
  }

  table { width: 100%; }
  thead th, tbody td { text-align: center; }
  table > tr > th {
    text-align: right;
    padding-left: 0;
    &:after {
      content: ':';
    }
  }
  th, td { padding: 5px; }
  .table th, .table td { padding: 2px 5px; }
  th + td { word-break: break-all; }
}

td.hideable {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td.wrappable {
  word-wrap: break-word;
  word-break: break-all;
}

td.singleline {
  white-space: pre;
}

.emphasis {
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: bold;
  text-shadow: 0 0 3px #ececec;
  color: #392d2d;
}

.link {
  padding: 3px;
}

.asset-issued {
  .code { margin-right: 2px; }
  a { font-size: 80%; }
}
.asset-native {
  font-size: 1.2em;
  text-shadow: 0 0 25px #8fbbb8;
  line-height: 1.2em;
}
