$primary: #7ebcf9;

@import 'node_modules/bulma/bulma.sass';

/*
@import 'node_modules/bulma-divider/divider.sass';
@import 'node_modules/bulma-switch/switch.sass';
@import 'node_modules/bulma-badge/badge.sass';
*/

.top {
  margin: auto 40px;
}

.main {
  margin: auto 20px;
}

.main .column {
  .box {
    min-height: 400px;
    max-height: 700px;
  }

  &:first-child, &:last-child {
    .box {
      min-height: 200px;
      max-height: 400px;
    }

    margin-top: 100px;
    font-size: 80%;
  }
}

.box.thing {
  &.addr { background-color: #C3E5C1 ; }
  &.txn { background-color: #E5C4C1 ; }
  &.op { background-color: #C1CBE5; }
  &.eff { background-color: #E5E3C1; }
  &.ledg { background-color: #E5D7C1; }

  th { text-align: right; }
  td {
    padding-left: 6px;
    word-break: break-all;
  }
}
